<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title><h1>Article</h1></title>
    <div sec:authorize="hasAuthority('CUSTOMER_USER')"><a th:href="@{/private/review}">Add review</a>
        <a th:href="@{/public/users/profile}">Profile</a></div>
    <a th:href="@{/private/orders}">Orders</a>
    <a th:href="@{/about}">About</a>
    <a th:href="@{/private/items}">Items</a>
    <form action="#" th:action="@{/articles/article/find}" method="post">
        <div th:if="${notFoundMessage}" th:utext="${notFoundMessage}"></div>
        <div th:if="${deleteCommentMessage}" th:utext="${deleteCommentMessage}"></div>
        <td><label>
            <input type="text" th:name="keyWord"/>
        </label></td>
        <input type="submit" value="Search">
    </form>
</head>
<body>
<form th:action="@{/articles/article/delete}" method="post">
    <table border="1">
        <thead>
        <tr>
            <div sec:authorize="hasAuthority('SALE_USER')">
                <th></th>
            </div>
            <th>Aritcle</th>
            <th>Description</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <div sec:authorize="hasAuthority('SALE_USER')">
                <td width="1%" align="center">
                    <input type="checkbox" id="ids" th:name="ids" th:value="${article.id}"/>
                </td>
            </div>
            <td width="5%" align="center" th:text="${article.article}"></td>
            <td width="10%" align="center">
                <span th:text="${article.description}"></span>
                <a th:href="${'/articles/article/' + article.id}">read more</a>
            </td>
            <td width="5%" align="center" th:text="${article.date}"></td>
            <td width="5%" align="center"
                th:text="${article.userForUiDTO.name} + ' ' + ${article.userForUiDTO.lastname}"></td>
        </tr>
        </tbody>
    </table>
    <div sec:authorize="hasAuthority('SALE_USER')"><input type="submit" value="DELETE"/></div>
</form>
<form th:action="@{/articles/new/article}">
    <div sec:authorize="hasAuthority('SALE_USER')"><input type="submit" value="New Article"/></div>
</form>
<div class="pagination-div">
            <span th:if="${currentPage>1}">
                <a th:href="@{/articles(size=${totalPage},page=${previousPage})}">Previous</a>
            </span>
    <span th:each="pageNumber:${pages}">
                <a th:href="@{/articles(size=${totalPage},page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==pageNumber + 1}">1</a>
            </span>
    <span th:if="${currentPage<totalPage}">
                <a th:href="@{/articles(size=${totalPage},page=${nextPage})}">Next</a>
            </span>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>