<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>We've got some trouble | 403 - Access Denied</title>
</head>
<body>
<div class="cover">
    <h1>Access Denied
        <small>Error 403</small>
    </h1>
    <p class="lead">The requested resource requires an authentication.</p></div>
<footer>
    <span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
            </span>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <p>Technical Contact: <a href="iikaliada@gmail.com">iikaliada@gmail.com</a></p></footer>
</body>
</html>