<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <h1>Items</h1>
</head>
<body>
<form th:action='@{/private/items/delete}'
      method="POST"
      th:object="${items}">
    <table border="1" class='table table-sm responsive'>
        <thead class='thead-default'>
        <tr align="center">
            <th width="2%"></th>
            <th width="10%">NAME</th>
            <th width="10%">PRICE</th>
            <th width="30%">UNIQUE_NUMBER</th>
            <th width="5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="item : ${items}">
            <td>
                <input type="checkbox" id="ids" th:name="ids" th:value="${item.id}"/>
            </td>
            <td>
                <a th:href="${'/private/items/' + item.id}"><span th:text="${item.name}"></span></a>
            </td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.uniqueNumber}"></td>
            <td>
                <a th:href="${'/private/items/' + item.id + '/copy'}">Copy</a>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="DELETE"/>
</form>
<div class="pagination-div">
            <span th:if="${currentPage>1}">
                <a th:href="@{/private/items(size=${totalPage},page=${previousPage})}">Previous</a>
            </span>
    <span th:each="pageNumber:${pages}">
                <a th:href="@{/private/items(size=${totalPage},page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==pageNumber + 1}">1</a>
            </span>
    <span th:if="${currentPage<totalPage}">
                <a th:href="@{/private/items(size=${totalPage},page=${nextPage})}">Next</a>
            </span>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>