<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title><h1>Article</h1></title>
    <h3><a th:href="@{/home}">Home</a>
        <a th:href="@{/about}">About</a></h3>
</head>
<body>
<table border="1" class='table table-sm responsive'>
    <thead class='thead-default'>
    <tr>
        <th align="center" width="10%">Name</th>
        <th align="center" width="10%">Price</th>
        <th align="center" width="20%">Unique_number</th>
        <th align="center" width="30%">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr align="center">
        <td hidden th:text=" ${item.id}"></td>
        <td th:text=" ${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.uniqueNumber}"></td>
        <td th:text="${item.description}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>