<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>
        <h3>Profile</h3>
    </title>
    <h3><a th:href="@{/home}">Home</a> <a th:href="@{/about}">About</a></h3>
</head>
<body>
<form action="#" th:action="@{/public/users/{id}/profile/update(id=${profile.id})}" th:object="${profile}"
      method="post">
    <table>
        <tr>
            <td><label>
                <input hidden type="text" th:field="*{userDTO.id}"/>
            </label></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><label>
                <input type="text" th:field="*{userDTO.name}" th:placeholder="*{userDTO.name}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('userDTO.name')}" th:errors="*{userDTO.name}">Email Error</td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td><label>
                <input type="text" th:field="*{userDTO.lastname}" th:placeholder="*{userDTO.lastname}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('userDTO.lastname')}" th:errors="*{userDTO.lastname}">Email Error</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><label>
                <input type="text" th:field="*{address}" th:placeholder="*{address}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Email Error</td>
        </tr>
        <tr>
            <td>Telephone:</td>
            <td><label>
                <input type="text" th:field="*{telephone}" th:placeholder="*{telephone}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Email Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label>
                <input type="text" th:field="*{userDTO.password}" th:placeholder="*{userDTO.password}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('userDTO.password')}" th:errors="*{userDTO.password}">Email Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Update</button>
            </td>
        </tr>
    </table>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>