<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        <h3>Profile</h3>
    </title>
    <h3><a th:href="@{/home}">Home</a> <a th:href="@{/about}">About</a></h3>
</head>
<body>
<h3>Profile</h3>
<form action="#" th:action="@{/public/users/{id}/profile/update(id=${user.id})}" th:object="${user}" method="post">
    <table>
        <tr>
            <td><label>
                <input hidden type="text" th:field="*{profileDTO.id}"/>
            </label></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><label>
                <input type="text" th:field="*{name}" th:placeholder="*{name}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><label>
                <input type="text" th:field="*{middlename}" th:placeholder="*{middlename}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}">Middlename Error</td>
        </tr>
        <tr>
            <td>Lastname:</td>
            <td><label>
                <input type="text" th:field="*{lastname}" th:placeholder="*{lastname}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><label>
                <input type="text" th:field="*{profileDTO.address}" th:placeholder="*{profileDTO.address}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('profileDTO.address')}" th:errors="*{profileDTO.address}">Address Error</td>
        </tr>
        <tr>
            <td>Telephone:</td>
            <td><label>
                <input type="text" th:field="*{profileDTO.telephone}" th:placeholder="*{profileDTO.telephone}"/>
            </label></td>
            <td th:if="${#fields.hasErrors('profileDTO.telephone')}" th:errors="*{profileDTO.telephone}">Telephone Error</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><label>
                <input type="text" th:field="*{password}"/>
            </label></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Update</button>
            </td>
        </tr>
    </table>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>