<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title><h1>Review</h1></title>
    <h3><a th:href="@{/about}">About</a></h3>
</head>
<body>
<form th:action='@{/private/review/add}'
      method="POST"
      th:object="${review}">

    <table width="80%">
        <thead class='thead-default'>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="50%">
                <label>
                    <textarea rows="20" cols="80" th:field="*{text}"></textarea></p>
                </label>
            </td>
            <td th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Review Error</td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Send"/>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>