<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title><h1>Article</h1></title>
    <h3><a th:href="@{/home}">Home</a>
        <a th:href="@{/about}">About</a></h3>
</head>
<body>
<form th:action='@{/articles/article/saveChanges}'
      method="POST"
      th:object="${article}" th:field="${article}">
    <label>
        <input hidden type="text" th:field="${article.id}"/>
    </label>
    <table border="1" width="80%">
        <thead class='thead-default'>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="10%">
                <label>
                    <textarea rows="10" cols="40" th:text="${article.article}"
                              th:field="${article.article}"></textarea></p>
                </label>
            </td>
            <td width="10%">
                <label>
                    <textarea rows="10" cols="80" th:text="${article.description}"
                              th:field="*{description}"></textarea></p>
                </label>
            </td>
            <td align="center" width="10%" th:text="${article.date}" th:field="${article.date}"></td>
            <td align="center" width="10%">
                <table>
                    <tbody>
                    <tr>
                        <td th:text="${article.userForUiDTO.name} + ' ' + ${article.userForUiDTO.lastname}"
                            th:field="${article.userForUiDTO.name} + ' ' + ${article.userForUiDTO.lastname}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="SAVE"/>
</form>
<form th:action='@{/articles/article/deleteComment}'
      method="POST"
      th:object="${article}">
    <table border="1" width="50%">
        <thead>
        <tr>
            <th width="1%"></th>
            <th width="59%">Comment</th>
            <th width="20%">Date</th>
            <th width="20%">Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${article.commentDTOList}">
            <td width="1%" align="center">
                <input type="checkbox" id="ids" th:name="ids" th:filed="${comment.id}" th:value="${comment.id}"/>
            </td>
            <td align="center" width="59" th:text="${comment.content}" th:filed="${comment.id}"></td>
            <td align="center" width="20%" th:text="${comment.date}" th:filed="${comment.id}"></td>
            <td align="center" width="20%"
                th:text="${comment.user.name} + ' ' + ${comment.user.lastname}"
                th:field="${article.userForUiDTO.name} + ' ' + ${article.userForUiDTO.lastname}"></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Delete comment"/>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>